

.panel {
    @include mb();
    position: relative;
    background-color: #fff;
    display: inline-block;
    color: $primaryTextColor;
    width: 100%;
    box-shadow: 0 5px 10px $shadowColor;
        p {
            padding: 0 modScale(1) + rem;
            @include mb();
        }
        hr {
            margin-top: 0;
        }
}

.panel--header {
    position: relative;
    vertical-align: middle;
    padding: modScale(0) + rem modScale(1) + rem;
    color: $primaryColor;
    font-weight: normal;
    overflow: hidden;
    border-bottom: 2px solid $primaryColor;
    @include mb(1);
        // &:after {
        //     position: absolute;
        //     right: -29px;
        //     top: 0;
        //     content: '';
        //     border: 1.35em solid transparent;
        //     border-right-color: $primaryColor;
        //     border-top-color: $primaryColor;
        // }
}