

.triple-wrap {
    display: flex;
    justify-content: stretch;
    @include mb();
}

.triple {
    display: inline-block;
    width: calc(33.333333% - #{$gutter} / 2);
    padding: 0 modScale(1) + rem;
    hyphens: auto;
        &:not(:last-of-type) {
            margin-right: $gutter;
        }
        p {
            color: $secondaryTextColor;
        }
}

.triple-icon {
    color: $secondaryTextColor;
    font-size: modScale(3) + rem;
    vertical-align: top;
        &:before {
            text-shadow: 0px 1px 2px $shadowColor;
        }
}