

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: $bodyFont;
    font-size: 16px;
    font-weight: 300;
    color: $primaryTextColor;
    text-rendering: optimizeLegibility;
    background-color: #f4f4f4;
        @media screen and (min-width: 1200px) {
            font-size: 20px;
        }
}

#outerWrap {
    // padding: 0 1.618rem;
}

#contentWrap {
    padding: 0 modScale(1) + rem;
}


h1, h2, h3, h4, h5, h6 {
    font-family: $headerFont;
    font-size: modScale(1) + rem;
    color: $primaryColor;
    margin: 0;
    @include mb();
}

h1 {
    font-size: modScale(3) + rem;
}

h2 {
    font-size: modScale(2) + rem;
}


p {
    margin: 0;
    padding: 0;
    line-height: 1.45;
        &:not(:last-of-type) {
            @include mb();
        }
}

a {
    color: $linkColor;
    text-decoration: none;
        &:hover {
            color: $linkHoverColor;
        }
}

hr {
    color: $dividerColor;
    opacity: 0.3;
    @include mb();
}