

.img {
    width: 100%;
    vertical-align: middle;
}


.img--background {
}


.btn-action {
    display: inline-block;
    font-family: $bodyFont;
    text-transform: uppercase;
    background-color: transparent;
    border: 3px solid $accentColor;
    color: $accentColor;
    padding: 1rem 2rem;
    margin: 0 auto;
    // border-radius: 6px;
    font-size: modScale(2) + rem;
}

.btn-primary {
    color: $primaryColor;
    border-color: $primaryColor;
}

.action-wrap {
    text-align: center;
    @include mb();
}



.display-none {
    display: none;
}

.logo-wrap {
    float: left;
    @include mb();
}

.logo {
    width: 400px;
}

.panel {
    @include mb();
    position: relative;
    background-color: #fff;
    display: inline-block;
    color: $primaryTextColor;
    width: 100%;
    box-shadow: 0 1px 2px rgba(0,0,0, 0.07);
        h2, h3 {
            background-color: $primaryColor;
            padding: 0.344rem modScale(1) + rem;
            color: $textPrimaryColor;
            font-weight: normal;
            @include longshadow($darkPrimaryColor, 40);
            overflow: hidden;
        }
        p {
            padding: 0 modScale(1) + rem;
               &:not(:last-of-type) {
                    @include mb()
                }
        }
}

.content {
    display: inline-block;
    vertical-align: top;
}

.content-left {
    width: calc(66.6666666% - #{$gutter / 2});
        @media screen and (max-width: 800px) {
            width: 100%;
        }
}

.content-right {
    width: calc(33.3333333% - #{$gutter / 2});
    margin-left: $gutter;
        @media screen and (max-width: 800px) {
            width: 100%;
            margin-left: 0;
        }
}


.search-wrap {
    position: absolute;
    top: 0.7rem;
    left: modScale(1) + rem;
    color: $textPrimaryColor;
        i {
            position: absolute;
            top: 0.35rem;
            right: 0.7rem;
            vertical-align: baseline;
        }
}

.search--input {
    border: none;
    border-radius: 1rem;
    padding: 0.25rem 0.618rem;
    background-color: $darkPrimaryColor;
}

.icons-wrap {
    float: right;
    padding: 0 modScale(2) + rem;
}

.social-icon-wrap {
    display: inline-block;
    font-size: modScale(2) + rem;
    background-color: $primaryColor;
    width: modScale(3) + rem;
    height: modScale(3) + rem;
    text-align: center;
    overflow: hidden;
        &:not(:last-of-type) {
            margin-right: 0.618rem;
        }
        a {
            display: block;
            padding: 0.618 + rem;

        }
}

.social-icon {
    color: $textPrimaryColor;
    vertical-align: middle;
    @include longshadow($darkPrimaryColor, 40);
}

.header--hero {
    position: relative;
    height: modScale(7) + modScale(3) + rem;
    background-image: url('../../img/mountains.jpg');;
    background-size: cover;
    background-position: center 25%;
    @include mb();
}

.header--action {
    position: absolute;
    bottom: 0;
    width: 100%;
        .btn-action {
            font-family: $headerFont;
            background-color: transparent;
            color: $textPrimaryColor;
            border-color: $accentColor;
        }
}
