


.search-wrap {
    position: absolute;
    top: calc(50% - #{modScale(0) + rem});
    left: modScale(1) + rem;
    color: $textPrimaryColor;
        i {
            position: absolute;
            top: modScale(-2) + rem;
            right: modScale(-1) + rem;
            vertical-align: baseline;
        }
}

.search--input {
    border: none;
    border-radius: 1rem;
    padding: modScale(-3) + rem modScale(-1) + rem;
    background-color: $darkPrimaryColor;
}



.header--hero {
    position: relative;
    height: modScale(7) + modScale(3) + rem;
    background-image: url('../../img/mountains.jpg');;
    background-size: cover;
    background-position: center 25%;
    @include mb(2);
        @media screen and (max-width: 800px) {
            @include mb();
        }
        &.page {
            height: modScale(6) + modScale(3) + rem;
            background-attachment: fixed;
        }
}

.header--action {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.action-wrap {
    text-align: center;
    @include mb();
}

.headline-wrap {
    width: 100%;
    clear: both;
    text-align: center;
    color: $textPrimaryColor;
    position: absolute;
    bottom: 0;
    font-weight: normal;
}

.tagline {
    display: inline-block;
    vertical-align: middle;
    max-width: 75%;
    color: $textPrimaryColor;
    @include longshadow($dividerColor, 4);

        @media screen and (max-width: 800px) {
            font-size: modScale(2) + rem;
        }
}