

.top-bar {
    background-color: $primaryColor;
    position: relative;
    @include mb();
}

.nav {
    @extend .cf;
}

.nav--list {
    @extend .cf;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav--list__top {
    float: right;
}

.nav--item {
    transition: 0.3s;
        &:hover, &:focus, &.current-menu-item {
            background-color: $darkPrimaryColor;
                a {
                    color: $textPrimaryColor;
                }
        }
        &:active {
            background-color: $darkPrimaryColor;
        }
        a {
            display: block;
            padding: 1rem modScale(1) + rem;
        }
}

.nav--item__top {
    box-shadow: inset 0px 0px 0px 0px $darkPrimaryColor;
    float: left;
        a {
            color: $textPrimaryColor;
        }
        &:hover, &:focus, &.current {
            background-color: $primaryColor;
            box-shadow: inset 0px (- modScale(3)) + px 0px 0px $darkPrimaryColor;
        }
        &.current {
            box-shadow: inset 0px (- modScale(3)) + px 0px 0px darken($darkPrimaryColor,10);
        }
        &:active {
            background-color: $darkPrimaryColor;
        }
}

.nav--item__sidebar {
    box-shadow: 0 2px 2px -2px $dividerColor;
    position: relative;
        a {
            padding-left: modScale(2) * 2 + rem;
        }
        &:before {
            content: '\f07b'; // fa-folder
            font-family: 'FontAwesome';
            display: inline-block;
            position: absolute;
            top: calc(33% + 4px);
            left: calc(#{modScale(1) + rem} + 8.5px);
            color: $textPrimaryColor;
            font-size: 12px;
            z-index: 2;
        }
        &:after {
            content: '';
            position: absolute;
            top: calc(50% - 14px);
            left: modScale(1) + rem;
            display: inline-block;
            background-color: $primaryColor;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            box-shadow: inset 0px 0px 5px rgba(0,0,0,0.23);
        }
}