

.top-bar {
    background-color: $primaryColor;
    position: relative;
    @include mb();
}

.nav {
    @extend .cf;
}

.nav--list {
    @extend .cf;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav--list__top {
    float: right;
}

.nav--item {
        &:hover, &:focus {
            background-color: $primaryColor;
                a {
                    color: $textPrimaryColor;
                }
        }
        a {
            display: block;
            padding: 1rem 2rem;
        }
}

.nav--item__top {
    float: left;
        a {
            color: $textPrimaryColor;
        }
        &:hover, &:focus {
            background-color: $darkPrimaryColor;
        }
}